<div class="container">
  <ul class="nav justify-content-center" style="list-style-type:none; padding-left: 0;">
    <li class="nav-item">
      <%= link_to "ALL BOOKS", books_path, class: "nav-link active"  %>
    </li>
  </ul>


  <div class="container">
    <div class="row">
    <h1 class="text-center col-sm-12">All Orders</h1>

      <% @orders.each do |order| %>
        <div class="col-lg-12" id="newcard">
          <%  @book = Book.find {|book| book.id == order.book_id} %>
          <h2><%= @book.title %></h2>
          <h2><%= order.start_date %></h2>
          <h2><%= order.end_date %></h2>
          <h2><%= order.order_total %></h2>
          <h2><%= order.quantity %></h2>
          <h2><%= order.status %></h2>
          <h2><%= link_to "Go to Order", order_path(order), class: "btn btn-primary" %></h2>
          <h2><%= link_to "Cancel order", order_path(order), method: :delete,
                    data: { confirm: "Are you sure?" }, class: "btn btn-danger" %></h2>
    </div>
        <% end %>
  </div>

</div>


