<div class="container">
  <ul class="nav justify-content-center" style="list-style-type:none; padding-left: 0;">
    <li class="nav-item">
      <%= link_to "ALL BOOKS", books_path, class: "nav-link active"  %>
    </li>
  </ul>


  <div class="container">
    <h1 class="text-center">All Orders</h1>
    <div class="row justify-content-center">
      <% @orders.each do |order| %>
        <div class="col-lg-8" id="newcard_order">
          <%  @book = Book.find {|book| book.id == order.book_id} %>
      <h1><%=link_to @book.title.upcase, book_path(order) %></h1>
          <h3><%= order.start_date.strftime("%B %d, %Y") %></h3>
          <h3><%= order.end_date.strftime("%B %d, %Y") %></h3>
          <h3><%= order.order_total %></h3>
          <h3><%= order.quantity %></h3>
          <h3><%= order.status %></h3>
          <p><%= link_to "ORDER DETAILS", order_path(order), class: "btns text-center" %></p>
          <p><%= link_to "CANCEL ORDER", order_path(order), method: :delete,
                    data: { confirm: "Are you sure?" }, class: "btns btn-danger" %></p>
    </div>
        <% end %>
  </div>
</div>
   