<h1>Orders</h1>

<% @orders.each do |order| %>
  <h2><%= order.start_date %></h2>
  <h2><%= order.end_date %></h2>
  <h2><%= order.order_total %></h2>
  <h2><%= order.quantity %></h2>
  <h2><%= order.status %></h2>
  <hr>
<% end %>


<%= link_to "Back", book_path(@book) %>
