<div class="container mt-4 pb-4 mb-4">
  <h3 class="text-center">Rental details</h3>
  <h1 class="text-center">"<%= @book.title.upcase%>"</h1>

  <div class="container">
        <div class="jumbotron vertical-center">

    <h3>Start date: <%= @order.start_date.strftime("%B %d, %Y") %></h3>
    <h3>End date: <%= @order.end_date.strftime("%B %d, %Y") %></h3>
    <h3><%= @order.order_total %></h3>
    <h3><%= @order.quantity %></h3>
    <h3><%= @order.status %></h3>
    <div class="container my-auto text-center">
    <%= link_to "Add review",  new_order_review_path(@order), class: "btns" %>
  </div>
  </div>
  <%# ADD REVIEW TO BOOK YAY X3%>
  
  </div>

 
  <div class="container">
    <div class="jumbotron vertical-center">
      <h2>Rent book</h2>
      <div id='flat-booking-dates' data-unavailable="<%= @book.unavailable_dates(@order).to_json %>">
        <%= simple_form_for @order do |f| %>
          <label>Check out</label>
          <%= f.text_field :start_date, data: { behavior: "flatpickr"}, id: "booking_start_date" %>
          <label>Return</label>
          <%= f.text_field :end_date, data: { behavior: "flatpickr"}, id: "booking_end_date" %>
          <%= f.submit "Rent", :class => 'btns btn-danger' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
