<div class="container mt-3">
  <h1>Order details for <%= @book.title%></h1>
  <h2>Start date: <%= @order.start_date %></h2>
  <h2>End date: <%= @order.end_date %></h2>
  <h2><%= @order.order_total %></h2>
  <h2><%= @order.quantity %></h2>
  <h2><%= @order.status %></h2>

  <%# ADD REVIEW TO BOOK YAY X3%>
  <div class="container ">
    <%= link_to "Add review",  new_order_review_path(@order), class: "btn btn-info mt-3 " %>
  </div>

  <hr>

<div class="container">
    <h3>Edit Order Dates</h3>
  <%= simple_form_for @order do |f| %>
    <label>Check out</label>
    <%= f.text_field :start_date, data: { behavior: "flatpickr"} %>
    <label>Return</label>
    <%= f.text_field :end_date, data: { behavior: "flatpickr"} %>
    <%= f.submit "Update order", class: "btn btn-secondary mt-3" %>
    <% end %>
</div>

</div>
