
<h1>Order details for <%= @book.title%></h1>
<h2>Start date: <%= @order.start_date %></h2>
<h2>End date: <%= @order.end_date %></h2>
<h2><%= @order.order_total %></h2>
<h2><%= @order.quantity %></h2>
<h2><%= @order.status %></h2>

<%# ADD REVIEW TO BOOK %>
<%= link_to "Add review",  new_order_review_path(@order), class: "btn btn-primary" %>
<hr>

<h3>Edit Order Dates</h3>
<%= simple_form_for @order do |f| %>
  <label>Check out</label>
  <%= f.input :start_date %>
  <label>Return</label>
  <%= f.input :end_date %>
  <%= f.submit "Rent" %>
<% end %>

<p><%= link_to "All orders",  orders_path %></p>
<p><%= link_to "All books",  books_path %></p>
