<p><%= link_to "Add book", new_book_path %></p>

<p><%= link_to "All orders", orders_path %></p>


<% @books.each do |book| %>
  <h1><%= book.title %></h1>
  <%= image_tag(book.img_url)  %>
  <p><%= link_to "Book info", book_path(book) %></p>
<% end %>

