<<<<<<< HEAD
<p><%= link_to "Add book", new_book_path %></p>

<p><%= link_to "All orders", orders_path %></p>


<% @books.each do |book| %>
  <h1><%= book.title %></h1>
=======
 <div class="container">
  <ul class="nav justify-content-center" style="list-style-type:none; padding-left: 0;">
  <li class="nav-item">
  <%= link_to "ADD BOOK", new_book_path, class: "nav-link active"  %>
  </li>
  <li class="nav-item">
  <%= link_to "ALL ORDERS", orders_path, class: "nav-link active"  %>
  </li>
</ul>
</div>

<div class="container">
  <div class="row">
    <% @books.each do |book| %>   
      <div class="col-md-4" id="newcard">
        <h3><%=link_to book.title.upcase, book_path(book) %></h3>
        <p><%= book.description %></p>
        <%book.photos.each do |photo|  %>
          <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
>>>>>>> d4b9846c811ea95c294b4e4c59eb1bb8723b203d


  <%= link_to "Learn more", book_path(book) %>
<% end %>
