
<li class="nav-item active ">
<%= link_to "Add book", new_book_path, class: "nav-link"  %>
</li>

<div class="cards">
<div class="card-category">
<% @books.each do |book| %>
  <h1><%= book.title %></h1>
   <p><%= book.description %></p>
  <%= image_tag(book.img_url)  %> 
<%= link_to "Book info", book_path(book) %></>
<% end %>
</div>
</div>




