
<div class="container">

<h1><%= @book.title %></h1>
<%#= image_tag(@book.img_url)  %>
<p><%= @book.published_year %></p>
  <p><%= @book.genre %></p>
  <p><%= @book.price %></p>
  <p><%= @book.description %></p>
  <p><%= @book.author.first_name %> <%= @book.author.last_name %></p>
  <p><%= link_to "Author info", author_book_path %></p>


<%= link_to "Back to all books", books_path %>


<hr>

<h2>Rent book</h2>
<%= simple_form_for [@book, @order] do |f| %>
  <label>Check out</label>
  <%= f.input :start_date %>
  <label>Return</label>
  <%= f.input :end_date %>
  <%= f.submit "Rent" %>
<% end %>



<h2>Your Order History for <%= @book.title  %></h2>

<% @orders.each do |order| %>
  <p><%= order.start_date%> <%= order.end_date%></p>
<% end %>


</div>
