<h1><%= @book.title %></h1>
<p><%= @book.published_year %></p>
  <p><%= @book.genre %></p>
  <p><%= @book.price %></p>
  <p><%= @book.description %></p>
  <p><%= @book.author.first_name %> <%= @book.author.last_name %></p>
  <p><%= link_to "Author info", author_book_path %></p>
<%= link_to "Go to Books", books_path %>


<h2>Rent book</h2>
<%= simple_form_for [@book, @order] do |f| %>
  <%= f.input :start_date %>
  <%= f.input :end_date %>
  <%= f.submit "confirm" %>
<% end %>


<h2>Order History for "<%= @book.title %>"</h2>
<% @orders.each do |order| %>
  <p> <%= order.start_date %> </p>
<% end %>
