<div class="container">
  <div class="jumbotron vertical-center">
    <h1 ><%= @book.title.upcase %></h1>
    <%@book.photos.each do |photo|  %>
      <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fit %>
    <% end %>
    <p><%= @book.published_year %></p>
    <p><%= @book.genre %></p>
    <p><i class="fas fa-dollar-sign" ></i><%= @book.price %></p>
    <p><%= @book.description %></p>
    <p><%= @book.author.first_name%> <%=@book.author.last_name%></p>
    <p><%= link_to "Author details", author_book_path%></p>
    <p><%= link_to "Back", books_path%></p>
    <p><%= link_to "Delete book", book_path(@book), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %></p>
  </div>
</div>


<div class="container">
  <div class="jumbotron vertical-center">
    <h2>Rent book</h2>
    <div id='flat-booking-dates' data-unavailable="<%= @book.unavailable_dates.to_json %>">
      <%= simple_form_for [@book, @order] do |f| %>
        <label>Check out</label>
        <%= f.text_field :start_date, data: { behavior: "flatpickr"}, id: "booking_start_date" %>
        <label>Return</label>
        <%= f.text_field :end_date, data: { behavior: "flatpickr"}, id: "booking_end_date" %>
        <%= f.submit "Rent", class: "btn btn-info mt-3" %>
      <% end %>
    </div>
  </div>
</div>

<%# BOOK REVIEWS %>
<div class="container">
  <div class="jumbotron vertical-center">
    <h2>Book Reviews</h2>
    <p><% @book.reviews.each do |review| %></p>
      <span class="mr-4"><%= cl_image_tag User.find(review.user_id).photo.key, class: "avatar", crop: :fill %></span>
      <span><%= "⭐️" * review.rating %></span>
      <p class="mt-2"><strong><%= User.find(review.user_id).email.split("@")[0] %></strong></p>
      <p class="mt-2"> <%= review.content %> </p>
      <hr>
    <% end %>
  </div>
</div>
