<div class="container justify-content-center">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-6">
      <div class="container">
        <h1 class="text-center">Add Review</h1>
        <% @order.book.photos.each do |photo|  %>
          <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fit %>
        <% end %>
      </div>

      <br>

      <div class="container">
        <%= simple_form_for [@order, @review] do |f| %>
          <%= f.input :rating, as: :radio_buttons, collection: 1..5, selected: 5 %>
          <%= f.input :content %>
          <%= f.submit "Add review", class: "btn btn-warning col-12" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
