<div class="container">
  <h1>Review for </h1>
  <% @order.book.photos.each do |photo|  %>
    <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fit %>
  <% end %>
  <%= simple_form_for [@order, @review] do |f| %>
    <%= f.input :rating, as: :radio_buttons, collection: 1..5, selected: 5 %>
    <%= f.input :content %>
    <%= f.submit %>
  <% end %>
</div>


