<!DOCTYPE html>
<html>
  <head>
    <title>BookifyMarketplace</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon px-2">
    <%= link_to "/", class: "navbar-brand" do %>
    <%= image_tag "booklogo.svg" %>
    <% end %>


    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <% if user_signed_in? %>
          <ul class="nav justify-content-center" style="list-style-type:none; padding-left: 0;">
            <li class="nav-item">
              <%= link_to "ADD BOOK", new_book_path, class: "nav-link active"  %>
            </li>
          </ul>
        <li class="nav-item active ">
          <%= link_to "BROWSE BOOKS", "/books", id:"custom-link", class: "nav-link" %>
        </li>

        <li class="nav-item dropdown">
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/random", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "my orders", orders_path, class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item mt">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>


  <div class="footer text-center navbar-fixed-bottom">
    <div class="footer-links">
      <a href="#"><i class="fab fa-github mr-4 mb-4 pt-4"></i></a>
      <a href="#"><i class="fab fa-instagram mr-4 mb-4 pt-4"></i></a>
      <a href="#"><i class="fab fa-facebook mr-4 mb-4 pt-4"></i></a>
      <a href="#"><i class="fab fa-twitter mr-4 mb-4 pt-4"></i></a>
      <div class="footer-copyright">
      <p class="col-xs-1 text-center">For the <i class="fas fa-heart"></i> of books do follow us on social media</p>
    </div>
  </div>
</div>


  </body>
</html>



